@{
    ViewData["Title"] = "Upload Document";
}

<h2>Upload Supporting Document</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" id="document" name="document"><br><br>

    <button type="submit">Upload Document</button>
</form>
